body{
  background-color: whiteSmoke;
}
#buttonDelete{
  display: none;
}
#buttonEdit{
  display: none;
}
#buttonSubmit{
  display: none;
}
#buttonView{
  display: none;
}
#buttonUpdate{
  display: none;
}
